.back-to-top {
  text-align: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--footer-bg-color);
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;

  a {
    color: var(--secondary-font-color);
  }

  .chevron {
    cursor: pointer;
    margin: 1.2rem;
  }
}
