.button {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  margin-right: -2px;
  background-color: #fff;
  padding: 8px 16px;
  color: var(--body-font-color);
  border-radius: 3px;
  transition: background-color 0.5s;

  &:focus,
  &:hover {
    color: #fff;
    background-color: var(--secondary-font-color);
  }
}
