.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;

  h2 {
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    animation-delay: 0.5s;
  }

  h1 {
    color: var(--secondary-font-color);
    animation: scale 0.5s forwards;
  }

  .separator {
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      width: 100%;
      max-width: 8.4rem;
      height: 2px;
      background-color: var(--secondary-font-color);
      position: relative;
      opacity: 0;
      animation: grow 2s forwards;
      animation-delay: 0.9s;
    }

    .lineLeft::before,
    .lineRight::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 0.4rem solid transparent;
      opacity: 0;
      animation: grow 0.5s forwards;
      animation-delay: 1.2s;
    }

    .lineLeft::before {
      border-left-color: var(--secondary-font-color);
      left: 0;
    }
    .lineRight::before {
      border-right-color: var(--secondary-font-color);
      right: 0;
    }

    .headline-separator {
      color: var(--primary-color);
      margin: 0 0.4rem;
      opacity: 0;
      animation: spin 0.5s forwards;
      animation-delay: 0.7s;
    }
  }

  h5 {
    color: var(--secondary-font-color);
    font-size: 0.9rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
  }

  .single-animation {
    opacity: 0;
    animation: fadeDown 0.5s forwards;
    animation-delay: 1.5s;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
