@import '_variables';

// Default values
:root {
  --primary-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Herr Von Muellerhoff', cursive;
  --body-font: 'Cabin', sans-serif;

  --primary-color: #c59d5f;
  --secondary-color: #252525;

  --primary-font-color: #515151;
  --secondary-font-color: #fff;

  --footer-bg-color: #121212;

  --section-padding: 2.3rem 1.8rem;
  --bloc-padding: 2.4rem;
  --element-spacing: 1.2rem;
}
